<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TyphoonExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8310DBC018FEEE7A00F5048F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB0CE8B18DAA32C007CD7B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB0CEA618DAA32C007CD7B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
